<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
        
        <!-- datatable dependencies -->
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script> 
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="/css/footer.css">
        <link rel="stylesheet" type="text/css" href="/css/dropdown.css">
    </head>
    <body>
        <% include ./partials/handle-nav.ejs %>
        <div class="container">
	        <table id="table" class="table table-bordered" cellspacing="0" width="100%">
	        	<thead>
		            <tr>
		                <th>Name</th>
		                <th>Email</th>
		          
		                <th>Description</th>
		      
		            </tr>
	      		</thead>
		        <tfoot>
		            <tr>
		                <th>Name</th>
		                <th>Email</th>
		            
		                <th>Description</th>
		     
		            </tr>
		        </tfoot>
		        <tbody>
		        	<% for(var i =0; i < volunList.length; i ++) { %>
		        		<tr 
		        			<% if(volunList[i].userType == "admin"){ %>
		        				class="bg-danger"
		        			<% } %>
		        			<% if(volunList[i].id == user.id){ %>
		        				class="bg-success"
		        			<% } %>
		        		>
		        			<td> 
			        				<% if(volunList[i].accountType == "google"){ %>
			        					<%= volunList[i].google.name %>	
			        				<% }else{ %>
			        					<%= volunList[i].local.username %>
			        				<% } %>
		        				</a>
		        			</td>
		        			
		        			<td>
		        				<%= volunList[i].local.email %>
		        			</td>
<!-- 		        			<td>
		        				<%= volunList[i].city %>
		        			</td> -->
		        			<td>
		        				<%= volunList[i].description %>
		        			</td>
		        		</tr>
		        	<% } %>
		        </tbody>
	        </table>
        </div>

        <% include ./partials/footer.ejs %>
    
        <script type="text/javascript">
	    	$(document).ready(function() {
			    $('#table').DataTable();
			});
		</script>
    </body>
</html>